asgiref==3.9.1
crispy-bootstrap4==2025.6
crispy-bootstrap5==2023.10
dj-database-url==2.1.0
Django==5.0.2
django-crispy-forms==2.3
django-jazzmin==3.0.1
gunicorn==22.0.0
packaging==25.0
pillow==10.2.0
ruff==0.12.12
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.6.0
python-decouple==3.8